/* ********************************************************************************* */
/* ************************************* FONTS ************************************* */
/* ********************************************************************************* */
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-400-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Regular Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-400-Regular-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Poppins-500-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Poppins-600-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Poppins-700-Bold.ttf") format("truetype");
}

/* ********************************************************************************* */
/* ******************************* CUSTOM PROPERTIES ******************************* */
/* ********************************************************************************* */
:root {
  --max-width: 75rem;
  --header: 4.6875rem;
  --white-color: #ffffff;
  --black-color: #000000;
  --candy-corn-color: #fae45a;
  --robins-egg-blue-color: #00b8b2;
  --torch-red-color: #ff064a;
  --scarlet-gum-color: #601663;
  --tamarind-color: #321728;
  --font: "Poppins Regular", sans-serif;
}

/* ********************************************************************************* */
/* ************************************* RESET ************************************* */
/* ********************************************************************************* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Poppins Bold", sans-serif;
  font-size: 1.625rem;
  margin: 0;
}

h2 {
  font-family: "Poppins Bold", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-family: "Poppins Bold", sans-serif;
  font-size: .875rem;
  margin: 0;
}

p,
blockquote {
  font-family: "Poppins Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

blockquote {
  margin-block: 0;
  margin-inline: 0;
}

@media screen and (min-width: 36rem) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.0625rem;
  }

  p,
  blockquote {
    font-size: 1.0625rem;
  }
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: 2.375rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p,
  blockquote {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 62rem) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.4375rem;
  }

  p,
  blockquote {
    font-size: 1.1875rem;
  }
}

@media screen and (min-width: 75rem) {
  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  p,
  blockquote {
    font-size: 1.25rem;
  }
}

/* ********************************************************************************* */
/* ********************************* UTILITY CLASS ********************************* */
/* ********************************************************************************* */
.container {
  width: 90%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 3rem 0;
}

.section__title {
  color: var(--tamarind-color);
  border-top: thin solid var(--torch-red-color);
  border-bottom: thin solid var(--torch-red-color);
  margin: 2rem auto 1.5rem;
  padding: .5rem 1rem;
  width: fit-content;
}

.text__center {
  text-align: center;
}

@media screen and (min-width: 36rem) {
  .container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ********************************************************************************* */
/* ********************************* HAMBURGER MENU ******************************** */
/* ********************************************************************************* */
.hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: .7;
}

.hamburger.is-active:hover {
  opacity: .7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: #ffffff;
}

.hamburger-box {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -.125rem;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 2.5rem;
  height: .25rem;
  background-color: #ffffff;
  border-radius: .25rem;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -.625rem;
}

.hamburger-inner::after {
  bottom: -.625rem;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 75ms .12s ease, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 75ms .12s ease, transform 75ms cubic-bezier(.55,  .055,  .675,  .19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 75ms ease, opacity 75ms .12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 75ms ease, transform 75ms .12s cubic-bezier(.215,  .61,  .355,  1);
}

/* ********************************************************************************* */
/* ************************************* HEADER ************************************ */
/* ********************************************************************************* */
.header {
  background-color: var(--tamarind-color);
  padding: 1.25rem 0;
  position: sticky;
  top: 0;
  z-index: 998;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content__logo {
  width: 9.375rem;
  height: 2.1875rem;
}

.logo__image {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#button-menu {
  display: none;
}

.nav__container {
  display: flex;
  gap: 1.5rem;
}

.nav__link {
  color: var(--white-color);
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}

.nav__link::after {
  background-color: var(--candy-corn-color);
  content: "";
  bottom: -.3125rem;
  left: 0;
  position: absolute;
  transition: 0.3s ease width;
  height: .1875rem;
  width: 0%;
}

.nav__link:hover::after {
  width: 100%;
}

@media screen and (min-width: 36rem) {
  .nav__link {
    font-size: 1.0625rem;
  }
}

@media screen and (min-width: 48rem) {
  .nav__link {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 62rem) {
  .nav__link {
    font-size: 1.1875rem;
  }
}

@media screen and (min-width: 75rem) {
  .nav__link {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 62rem) {
  #button-menu {
    display: flex;
  }

  .nav {
    background-color: var(--white-color);
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    top: var(--header);
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 997;
    transition: transform .3s ease, opacity 0.5s ease;
    transform: translate(0, 100%);
  }

  .nav.is-active {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
  }

  .nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    height: calc(100vh - var(--header));
    width: inherit;
  }

  .nav__link {
    color: var(--tamarind-color);
  }

  .nav__link:last-child {
    margin-bottom: 0;
  }
}

/* ********************************************************************************* */
/* ************************************* ROOMS ************************************* */
/* ********************************************************************************* */
.section__rooms {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.container__room img {
  border-radius: .25rem;
  image-rendering: pixelated;
}

.container__room h3 {
  padding: .5rem 0;
}

@media screen and (min-width: 48rem) {
  .section__rooms {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ********************************************************************************* */
/* ************************************ SPONSORS *********************************** */
/* ********************************************************************************* */
.section__sponsors {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.container__sponsor,
.container__sponsor a {
  display: flex;
}

.container__sponsor img {
  width: 13rem;
  height: 6.5rem;
  padding: 10;
}

@media screen and (min-width: 36rem) {
  .section__sponsors {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .section__sponsors {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ********************************************************************************* */
/* ************************************ SERVICES *********************************** */
/* ********************************************************************************* */
.section__services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.container__service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .1875rem solid var(--tamarind-color);
  border-radius: .25rem;
  height: 11.25rem;
  padding: 1rem;
}

.container__service svg {
  margin-bottom: .625rem;
}

.title__service {
  font-family: "Poppins Medium", sans-serif;
}

@media screen and (min-width: 36rem) {
  .section__services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 48rem) {
  .section__services {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ********************************************************************************* */
/* ************************************ COMMENTS *********************************** */
/* ********************************************************************************* */
.section__comments {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.125rem;
}

.comment blockquote {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  font-family: "Poppins Regular Italic", sans-serif;
  margin-bottom: 1rem;
}

.user__comment {
  display: flex;
  justify-content: center;
  gap: .625rem;
}

@media screen and (min-width: 48rem) {
  .section__comments {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}

/* ********************************************************************************* */
/* ************************************* FOOOTER *********************************** */
/* ********************************************************************************* */
.footer {
  background-color: var(--tamarind-color);
}

.container__footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.125rem;
  padding: 3rem 0;
}

.container__social__media__payments {
  display: grid;
  gap: 3.125rem;
}

.section__contact h3,
.section__payment h3,
.section__social__media h3 {
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.section__contact div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  margin-bottom: 1.5rem;
  margin-left: .625rem;
}

.section__contact div:nth-last-child(1) {
  margin-bottom: 0;
}

.section__contact p {
  color: var(--white-color);
}

.section__payment div,
.section__payment figure {
  display: flex;
  margin-block: 0;
}

.section__payment img {
  width: 5rem;
  max-width: 5rem;
  height: 2.5rem;
  max-height: 2.5rem;
}

.section__social__media div {
  display: flex;
  gap: .875rem;
  margin-left: .625rem;
}

.section__social__media a {
  display: flex;
  border: .125rem solid #ffffff;
  border-radius: 50%;
  padding: .25rem;
}

.container__copyright {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.container__copyright p {
  color: var(--white-color);
}

@media screen and (min-width: 75rem) {
  .container__footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ********************************************************************************* */
/* ******************************* SCROLL TOP BUTTON ******************************* */
/* ********************************************************************************* */
.scroll-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 997;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: transparent;
  color: var(--white-color);
  font-size: 2rem;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  opacity: 0.7;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}