/* ********************************************************************************* */
/* ************************************ IMPORTS ************************************ */
/* ********************************************************************************* */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ********************************************************************************* */
/* ******************************* CUSTOM PROPERTIES ******************************* */
/* ********************************************************************************* */
:root {
  --max-width: 1200px;
  --header: 75px;
  --white-color: #ffffff;
  --black-color: #000000;
  --candy-corn-color: #fae45a;
  --robins-egg-blue-color: #00b8b2;
  --torch-red-color: #ff064a;
  --scarlet-gum-color: #601663;
  --tamarind-color: #321728;
  --font: 'Work Sans', sans-serif;
}

/* ********************************************************************************* */
/* ************************************* RESET ************************************* */
/* ********************************************************************************* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 26px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ********************************************************************************* */
/* ********************************* UTILITY CLASS ********************************* */
/* ********************************************************************************* */
.container {
  width: 90%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 32px 16px;
}

.section__title {
  color: var(--tamarind-color);
  border-top: 1px solid var(--torch-red-color);
  border-bottom: 1px solid var(--torch-red-color);
  margin: 32px auto 24px;
  padding: 8px 16px;
}

.text__center {
  text-align: center;
}

/* ********************************************************************************* */
/* ************************************* HEADER ************************************ */
/* ********************************************************************************* */
.header {
  background-color: var(--tamarind-color);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 998;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content__logo {
  width: 150px;
  height: 35px;
}

.logo__image {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
}

#button-menu {
  display: none;
}

.nav__container {
  display: flex;
  gap: 24px;
}

.nav__link {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.nav__link::after {
  background-color: var(--candy-corn-color);
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  transition: 0.3s ease width;
  height: 3px;
  width: 0%;
}

.nav__link:hover::after {
  width: 100%;
}

/* ********************************************************************************* */
/* ************************************* ROOMS ************************************* */
/* ********************************************************************************* */
.section__rooms {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}

.container__room img {
  border-radius: 4px;
}

.container__room h3 {
  text-align: center;
  font-weight: 700;
  padding: 8px 0;
}

/* ********************************************************************************* */
/* ************************************ SPONSORS *********************************** */
/* ********************************************************************************* */
.section__sponsors {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.container__sponsor,
.container__sponsor a {
  display: flex;
}

.container__sponsor img {
  width: 208px;
  height: 104px;
  padding: 10;
}

/* ********************************************************************************* */
/* ************************************ SERVICES *********************************** */
/* ********************************************************************************* */
.section__services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.container__service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--tamarind-color);
  border-radius: 4px;
  height: 180px;
  padding: 16px;
}

.container__service svg {
  margin-bottom: 10px;
}

.title__service {
  font-weight: 500;
}

/* ********************************************************************************* */
/* ************************************* FOOOTER *********************************** */
/* ********************************************************************************* */
.footer {
  background-color: var(--tamarind-color);
}

.container__footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  padding: 48px 0;
}

.section__contact h3,
.section__payment h3,
.section__social__media h3 {
  color: var(--white-color);
  margin-bottom: 24px;
}

.section__contact div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 24px;
  padding-left: 10px;
}

.section__contact div:nth-last-child(1) {
  margin-bottom: 0;
}

.section__contact p {
  color: var(--white-color);
}

.section__payment div,
.section__payment figure {
  display: flex;
  /* gap: 10px; */
}

.section__payment img {
  width: 80px;
  height: 40px;
}

.section__social__media div {
  display: flex;
  gap: 14px;
  padding-left: 10px;
}

.section__social__media a {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 4px;
}